In [1]:
import pandas as pd

In [161]:
def count_top3(years):
    list = []
    for year in years:
        list.append(pd.read_csv('names/yob'+ str(year) + '.txt', names=['Names', 'Gender', 'Count']))
    df_res = pd.concat(list)
    df_group_by = df_res.groupby(['Names']).sum()
    df_group_by.sort_values('Count', inplace=True, ascending=False)
    df_group_by_top3 =  df_group_by.head(3)
    return df_group_by_top3

In [162]:
count_top3([1900,1950,2000])

         Count
Names
James   111789
John    109601
Robert  101368

In [155]:
def count_dynamics(years):
    F_list = []
    M_list = []
    for year in years:
        df = pd.read_csv('names/yob'+ str(year) + '.txt', names=['Names', 'Gender', 'Count'])
        F_list.append(df[df.Gender == 'F'].Count.sum())
        M_list.append(df[df.Gender == 'M'].Count.sum())
    result = {'F':F_list, 'M':M_list}
    return result

In [156]:
count_dynamics([1900, 1950, 2000])

{'F': [299798, 1713065, 1815295], 'M': [150480, 1790437, 1963202]}